@{
    try
    {
        string hoTen = Session["HoTen"].ToString();
        if (hoTen != null)
        {
            ViewBag.NguoiDung = "Thông tin người dùng: " + hoTen;
        }
        else
        {
            ViewBag.NguoiDung = "Thông tin người dùng: Chưa đăng nhập ";
        }
    }
    catch
    {

    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/styleAdmin.css" rel="stylesheet" />
</head>
<body style="margin-top:0px;">
    <div id="banner" style="top:0px;">HỆ THỐNG QUẢN LÝ THÔNG TIN GIẢNG VIÊN</div>
    <div id="menu" style="margin-top:10px;">
        <div>
            @Html.ActionLink("Danh Sách", "../GiangVien_63132131/DanhSach", new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("Tìm Kiếm", "../GiangVien_63132131/TimKiem", new { @class = "a" })&nbsp;|&nbsp;
            @Html.ActionLink("Thêm mới", "../GiangVien_63132131/Index", new { @class = "a" }) &nbsp;|&nbsp;
            @Html.ActionLink("Giới thiệu", "../GiangVien_63132131/GioiThieu", new { @class = "a" })
            <hr style="display: block;border-top: 1px solid aqua;  margin: 8px 0;" />
        </div>
        <div>
            <p align="right">  @ViewBag.NguoiDung</p>
        </div>
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <div id="footer">
        Copyright &copy; @DateTime.Now.Year
    </div>
</body>
</html>
