@model IEnumerable<KT0720Huy_63132131.Models.SinhVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lop.TenLop)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgaySinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnhSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lop.TenLop)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaSV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaSV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaSV })
        </td>
    </tr>
}

</table>
