
@{
    ViewBag.Title = "Comfirm";
}

<body style="margin-top:0px;">
    <table border="1" cellpadding="0" cellspacing="0" style="font-size:14px;margin-left:50px;">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="2" cellspacing="10">
                        <caption><b>THÔNG TIN CHI TIẾT</b></caption>
                        <tbody>
                            <tr>
                                <td rowspan="8"><img src="@ViewBag.Avatar" width="100" height="100"></td>
                                <td>Mã nhân viên:</td>
                                <td>@ViewBag.EmpID</td>
                            </tr>
                            <tr>
                                <td>Họ tên nhân viên:</td>
                                <td>@ViewBag.Name</td>
                            </tr>


                            <tr>
                                <td>Ngày sinh:</td>
                                <td>@ViewBag.BirthOfDate</td>
                            </tr>

                            <tr>
                                <td>Email:</td>
                                <td>@ViewBag.Email</td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>@ViewBag.Password</td>
                            </tr>
                            <tr>
                                <td>Đơn vị:</td>
                                <td>@ViewBag.Department</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div id="footer">
        Copyright © 2022
    </div>


</body>